/target/
/work/
/.settings/

# misc
*.DS_Store
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# misc2
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
